.card {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
  border: 1px solid black;
  gap: 10px;
  padding: 5px;
  border-radius: 10px;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    p {
      display: flex;
      gap: 5px;
    }
  }

  button {
    font-size: 16px;
    align-self: center;
  }
}
