h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
  max-width: 1200px;
  padding: 10px;
}
.btn {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    background-color: #3e3e3e;
    color: white;
  }
}
